@import url('https://fonts.googleapis.com/css2?family=Work+Sans&family=Yatra+One&display=swap');

body {
    background-color: #FFFFFF;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #1574A4;
    opacity: 0.9;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover{
    color: #E9A127;
}

.book, .join {
    background-color: #E9A127;
    color: #5B5B5B;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #FFFFFF;
    color: #1574A4;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

nav a {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
    color: #FFFFFF;
}

.button-box{
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background{
    height: 725px;
    background-color: #1574A4;
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg {
    background-color: #5B5B5B;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #5B5B5B;
}

footer {
    background-color: #5B5B5B;
    color: #E9A127;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    color: #E9A127;
    font-family: "Yatra One", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.msg h2{
    color: #E9A127;
    font-family: "Yatra One", Helvetica, sans-serif;
}

.msg p {
    color: #FFFFFF;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a{
    color: #E9A127;
    text-decoration: none;
}

footer a:hover{
    color: #FFFFFF;
}

.logo, .icon {
    width: 80px;
}

#hero-img{
    width: 100%;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card {
    font-family: "Yatra One", Helvetica, sans-serif;
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    font-family: "Yatra One", Helvetica, sans-serif;
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    font-family: "Yatra One", Helvetica, sans-serif;
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    padding-top: 10px;
}

.card-img {
    border: 10px solid #E9A127;
    width: 100%;
    transition: transform .5s;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #5B5B5B;
}

/* ---------------------css for the subpage---------------------  */

#title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#title-background {
    background-color: #5B5B5B;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    width: 100%;
}

#title-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#title-msg {
    text-align: center;
}

.rivers-title {
    color: #E9A127;
    font-family: "Yatra One", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 0;
}

#title-msg h4 {
    margin-top: 0;
    color: #FFFFFF;
}

.rivers-grid {
    display: grid;
    grid-template-columns: 0.5fr 3.75fr 0.25fr 3.75fr 0.5fr;
    background-color: #f9f9f9;
}

.idaho-river {
    margin: 100px 0;
    grid-column: 2/3;
    grid-row: 1/3;
}

.utah-river {
    margin: 100px 0;
    grid-column: 4/5;
    grid-row: 3/5;
}

.arizona-river {
    margin: 100px 0;
    grid-column: 2/3;
    grid-row: 5/7;
}

.rivers-img {
    border: 10px solid #E9A127;
    width: 100%;
    transition: transform .5s;
}

.rivers-img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 #5B5B5B, 0 6px 20px 0 #5B5B5B;
}

.idaho-info {
    font-family: "Work Sans", Helvetica, sans-serif;
    font-size: 1vw;
    margin: 100px 0;
    grid-column: 4/5;
    grid-row: 1/3
}

.idaho-info h1 {
    font-family: "Yatra One", Helvetica, sans-serif;
    color: #1574A4;
    margin-top: 0;
    margin-bottom: 5px;

}

.idaho-info p {
    margin-top: 0;
    text-align: justify;
    color: #5B5B5B;
    padding-bottom: 20px;
}

.utah-info {
    font-family: "Work Sans", Helvetica, sans-serif;
    font-size: 1vw;
    margin: 100px 0;
    grid-column: 2/3;
    grid-row: 3/5
}

.utah-info h1 {
    font-family: "Yatra One", Helvetica, sans-serif;
    color: #1574A4;
    margin-top: 0;
    margin-bottom: 5px;

}

.utah-info p {
    margin-top: 45px;
    text-align: justify;
    color: #5B5B5B;
    padding-bottom: 20px;
}

.arizona-info {
    font-family: "Work Sans", Helvetica, sans-serif;
    font-size: 1vw;
    margin: 100px 0;
    grid-column: 4/5;
    grid-row: 5/7
}

.arizona-info h1 {
    font-family: "Yatra One", Helvetica, sans-serif;
    color: #1574A4;
    margin-top: 0;
    margin-bottom: 5px;

}

.arizona-info p {
    margin-top: 45px;
    text-align: justify;
    color: #5B5B5B;
    padding-bottom: 20px;
}

.button-rivers{
    text-align: center;
}

.book2 {
    background-color: #E9A127;
    color: #5B5B5B;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}

.book2:hover {
    background-color: #f9f9f9;
    color: #1574A4;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }

    #title, .rivers-grid{
        display: block;
        height: auto;
    }

    #title {
        margin-top: 0;
    }

    #title-msg {
        background-color: #5B5B5B;
        margin-top: 0;
        padding: 10px;
    }

    .rivers-title {
        font-size: 25px;
    }

    .rivers-grid {
        padding-top: 1px;
    }

    .idaho-river, .utah-river, .arizona-river{
        margin: 50px auto;
        width: 80%;
    }

    .idaho-info, .utah-info, .arizona-info{
        margin: 20px 20px;
        font-size: 15px
    }

    .idaho-info h1, .utah-info h1, .arizona-info h1 {
        margin: 0 auto;
    }

    .idaho-info p, .utah-info p, .arizona-info p {
        margin-top: 5px;
    }

}